<div *ngIf="user; else loginForm">
    logged in as {{user.email}} [<a href="" (click)="logOut()">Sign out</a>]
</div>
<ng-template #loginForm>
    <div class="login-form" [formGroup]="loginFormGroup">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username" type="text" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="login()">
            Log in
        </button>
    </div>
</ng-template>